@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Fustat';
    outline-color: #fe550796;
    outline-width: 2px;
}
