@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SF-Pro";
    src: url('/SF-Pro.ttf');
}

@font-face {
    font-family: "Cascadia";
    src: url('/CascadiaMono-SemiLight.otf');
}

*{
    font-family: SF-Pro, sans-serif;
}

.Cascadia{
    font-family: 'Cascadia', 'SF-Pro';
}